{% extends "base.html" %}

{% block rel %}
    <link rel="stylesheet" href="/static/css/upload.css">
{% endblock %}

{% block page_title %}
    <title>Upload</title>
{% endblock %}

{% block content %}
    <h3 class="title">Upload Evidence</h3>
     <form action="/upload" method="POST" entype="multipart/form-data">
        <tr>
            <td>
                <label for="ev_name">Evidence name: </label>
            </td>
            <td>
                <input type="text" name="ev_name" placeholder="evidence name" required autofocus=""><br>
            </td>
        </tr>
         <tr>
             <td>
                 <label for="proj_name">Project name: </label>
             </td>
             <td>
                 <input type="text" name="proj_name" placeholder="project name" required><br>
             </td>
         </tr>
         <tr>
             <td>
                  <label>
                        <p>Description: </p>
                        <textarea name="description" cols="20" rows="5" wrap="soft"> </textarea>
                  </label>
             </td>
         </tr>
         <tr>
             <td>
                 <label>Choose criteria for your evidence from the list:</label>
             </td>
         </tr>
         <tr>
             <td>
                 <label>
                     <p>Upload your file:</p>
                     <input type="file" name="file_upload"><br>
                 </label>
             </td>
         </tr>
         <tr>
             <td>
                 <button>Submit</button>
             </td>
         </tr>
    </form>
{% endblock %}